@import "global";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	background: #f2f4f1;
}
body,
#root {
    font-size: var(--font-size-m);
    font-family: var(--font-family-main);
}
