{% extends 'board/base.html' %} 
{% load static %} 
{% load i18n %}



{% block head %}
    <meta name="subject" content="Teenwork - {% translate 'понравившиеся объявления' %}">
    <meta name="description" content="Teenwork - {% translate 'понравивишиеся объявления. Добавьте несколько, чтобы выбрать лучшую работу для себя.' %}">
{% endblock %}


{% block title %}{% translate "Понравившиеся" %}{% endblock %}
{% block content %}
    <span class="fav_title">{% translate "Понравившиеся Вам объявления" %}</span>
    <br>
    <hr>
    <br>

    <div class="adt_container">
    {% for val in new %}
    <div class="adt">
        <div class="container">
            <div class="adt_image_block">
                <a href="{% url 'board:advertisement' val.slug %}"  class="adt_a">
                    <img class="adt_image zoom" src="{{val.get_image}}" alt="{{val.rubric}}:{{val.title}}">	
                </a>
            </div>
            <div class="container_info">
                <span class="adt_name"> <span class="adt_n">
                    <a href="{% url 'board:advertisement' val.slug %}"  class="adt_a">
                        {{val.title}}
                    </a>
                    </span> 
                    {% if val.author.is_official %}
                        <div class="tick">
                            <div class="tick_right"></div>
                            <div class="tick_left"></div>
                        </div>
                        <span class="tick_text">{% translate "Это официальный аккаунт" %}</span>
                    {% endif %}
                    <span class="adt_salary">{{ val.price }} {{ val.currency }}</span>
                </span> 
                {% if val.age %}
                    <span class="adt_age">{% translate "Возраст" %}: {{ val.age }} лет.</span>
                {% else %}
                    <span class="adt_age">{% translate "Возраст" %}: {% translate "Все" %}</span>
                {% endif %}
                <span class="adt_rubric">{{val.rubric}}</span>
                <span class="adt_city">{{ val.city }}</span>
                <span class="adt_created">
                    {% if time_now1 == val.published|date:"d.m.Y" %}
                        {% translate "Сегодня" %} в {{val.published|date:"H:i"}}
                    {% elif time_now2 == val.published|date:"d.m.Y" %}
                        {% translate "Вчера" %} в {{val.published|date:"H:i"}}
                    {% else %}
                        {{val.published|date:"d M"}} в {{val.published|date:"H:i"}}
                    {% endif %}
                    <a href="{% url 'account:favourite_add' val.id%}" class="heart">
                        {% if user in val.favourites.all %}
                        <img src="{% static 'img/full_heart.svg'%}" alt="">
                        {% else %}
                        <img src="{% static 'img/heart.svg'%}" alt="">
                        {% endif %}
                    </a> 
                </span>
            </div>
        </div>
    </div>
        {% empty %}
        <h3 class="empty_fav_list" style="position: relative;">{% translate "Пока что понравившихся объявлений нету, поэтому давайте найдём какое-то интересное и нажмём" %} <img src="{% static 'img/full_heart.svg'%}" style="width: 21px;height: 20px;" alt="">
        <a href="{% url 'board:index' %}">{% translate "Перейти к объявлениям" %} <i class="arrow-forward"></i></a></h3>
        <img src="{% static 'img/heart_empty.svg' %}" alt="Нажмите на сердечко вверху объявления, чтобы добавить в 'Избранные'" style="margin: auto; display: block;">
    {% endfor %} 
    </div>    
{% endblock %}