{% extends 'board/base.html' %} 
{% load static %} 
{% load i18n %} 



{% block head %}
    <meta name="subject" content="{% translate 'Teenwork Ошибка' %}">
    <meta name="description" content="{% translate 'Случилась непредвиденная ошибка, стоит попробовать ещё раз.' %}">
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/error_pages.css' %}">
{% endblock %}

{% block title %} Teenwork {% translate "ошибка" %}{% endblock %}

{% block content %}  
    <h1 class="h1_error">Teenwork {% translate "ошибка, попробуйте ещё раз" %}</h1>
    <h3 class="h3_error"></h3>
    <span class="span_error"><a a href="#" onclick="event.preventDefault();history.back();">< {% translate "Вернуться назад" %}</a></span>

    <div class="quote">
        <div class="quote_text">{{quote}}</div>
        <div class="quote_author">{{author}}</div>
    </div>
{% endblock %}