{% extends 'board/base.html' %} 
{% load static %} 
{% load i18n %} 



{% block head %}
    <meta name="subject" content="{% translate 'Teenwork 404 страница не найдена' %}">
    <meta name="description" content="{% translate 'Вы попали на эту страницу, потому что был указан неправильный адрес.' %}">
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/error_pages.css' %}">
{% endblock %}

{% block title %} Teenwork 404{% endblock %}

{% block content %}  
    <h1 class="h1_404">Teenwork 404</h1>
    <h3 class="h3_404">{% translate "Мы искали, но не наискали( Попробуйте перейти на другую страницу" %}</h3>
    <span class="span_404"><a a href="#" onclick="event.preventDefault();history.back();">< {% translate "Вернуться назад" %}</a></span>
    <div class="div_404">
        <img src="{% static 'img/404_error.svg'%}" alt="Картинка *ищет о_о*" class="img_404">
    </div>
{% endblock %}