{% extends 'board/base.html' %} 
{% load static %} 
{% load i18n %} 



{% block head %}
    <meta name="subject" content="{% translate 'Teenwork 500 проблема с сервером' %}">
    <meta name="description" content="{% translate 'Вы попали на эту страницу, потому что сервер или упал, или что-то с ним не так.' %}">
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/error_pages.css' %}">
{% endblock %}

{% block title %} Teenwork 500{% endblock %}

{% block content %}  
    <h1 class="h1_500">Teenwork 500</h1>
    <h3 class="h3_500">{% translate "Похоже, возникла проблема с сервером. Вернитесь к нам позже, когда мы её решим" %}.</h3>
    <span class="span_500"><a a href="#" onclick="event.preventDefault();history.back();">< {% translate "Вернуться назад" %}</a></span>
    <div class="div_500">
        <img src="{% static 'img/505_error.svg'%}" alt="Сервер заснул..." class="img_500">
    </div>
{% endblock %}