{% extends 'board/base.html' %} 
{% load static %} 
{% load i18n %} 

{% block language %}
    <html lang="{{current_lang}}">
{% endblock %}

{% block head %}
    {% if current_lang == 'uk' %}
    <meta http-equiv="Content-Language" content="uk">
    <meta name="subject" content="Teenwork 500 проблема із сервером">
    <meta name="description" content="Ви потрапили на цю сторінку, тому що сервер або впав або щось з ним не так.">
    {% else %}
    <meta http-equiv="Content-Language" content="ru">
    <meta name="subject" content="Teenwork 500 проблема с сервером">
    <meta name="description" content="Вы попали на эту страницу, потому что сервер или упал, или что-то с ним не так.">
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/error_pages.css' %}">
{% endblock %}

{% block title %} Teenwork 500{% endblock %}

{% block content %}  
    <h1 class="h1_500">Teenwork 500</h1>
    <h3 class="h3_500">{% translate "Похоже, возникла проблема с сервером. Вернитесь к нам позже, когда мы её решим" %}.</h3>
    <span class="span_500"><a a href="#" onclick="event.preventDefault();history.back();">< {% translate "Вернуться назад" %}</a></span>
    <div class="div_500">
        <img src="{% static 'img/505_error.svg'%}" alt="Сервер заснул..." class="img_500">
    </div>
{% endblock %}