{% extends 'board/base.html' %} 
{% load static %} 
{% load i18n %} 

{% block head %}
  <meta name="subject" content="{% translate 'Объявление на 24 часа' %}">
  <meta name="description" content="{% translate 'Как можно опубликовать пробное объявление без регистрации.' %}">
{% endblock %}

{% block styles %}
<link href="{% static 'css/cookies_things.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %} Про Cookies {% endblock %}
{% block content %}  

<div class="cookies_how_works">
  <img src="{% static 'img/cookie.svg' %}" alt="">
  <span>
    {% translate "Наш сервис использует Cookies (куки). Это небольшие по размеру файлы с данными, расположенные на устройстве пользователя, которые не представляют угрозу и помогают запоминать Ваши предпочтения, такие как: выбор темы сайта, языка и.т.д. Полный перечень Вы можете увидеть, перейдя в консоль разработчика -> Application -> Cookies -> дальше из выпавшего меню выбираете сервис Teenwork и просматриваете" %}.
  </span>
  <span>{% translate "Информация взята из" %} <a href="{% url 'board:privacy_policy' %}">{% translate "Политики Конфиденциальности" %}</a> {% translate "веб-сервиса" %} Teenwork (п. 3.1.)</span>
</div>
{% endblock %}