{% extends 'board/base.html' %} 
{% load static %} 
{% load i18n %} 



{% block head %}
    <meta name="subject" content="{{blog_obj.title_ru}}">
    <meta name="description" content="{{blog_obj.post_content_ru|truncatechars:70}} - {% translate 'работа и подработка для студентов, студентов и не только на Teenwork' %}">
{% endblock %}

{% block title %}
    {{blog_obj.title}} - Teenwork
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/teenwork_blog.css' %}">
{% endblock %}

{% block content %}  
    <div class="page_title">
        <a href="#" onclick="event.preventDefault();history.back();" class="come_back"><em style="float:left;border: solid black; border-width: 0 2px 2px 0; padding: 5px; transform: rotate(135deg); -webkit-transform: rotate(135deg); top: 2px;margin-top: 5px;"></em></a>
        <span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">Teenwork Блог</span>
    </div>

    <div class="blog">
        <div class="blog_block">
            <h1 class="blog_h1">{{blog_obj.title}}</h1>
            <span class="blog_publ">
                <span style="margin-right:40px;">
                    <img src="{% static 'img/blog_viewed.svg' %}" alt="Кол-во просмотров" style="height: 10px;">
                    {{blog_obj.views}}
                </span>
                <span>{{blog_obj.published|date:"d E Y"}}</span>
            </span>
            <div class="blog_content">
                {% autoescape off %}
                    <p>{{blog_obj.content}}</p>
                {% endautoescape %}
            </div>
        </div>

        <div class="blog_block end_block">
            <p class="subscribe_block"><strong>{% translate "Подписывайтесь на наши соц.сети и узнавайте много нового" %}</strong></p>
            <p>Instagram: <a href="https://www.instagram.com/teenwork_ua/">@teenwork_ua</a></p>
            <p>Facebook: <a href="https://www.facebook.com/teenworkua">@teenworkua</a></p>
            <p style="color: #979797; text-align: center;">{% translate "Teenwork - платформа, где студенты и не только могут найти работу, которая им по душе." %}</p>
            <p style="color: #979797; text-align: center;">{% translate "Присоединяйтесь к " %} <a href="{% url 'telegram_filter:get_unique_code' %}">Телеграм Боту</a>{% translate ", чтобы он Вам первым отправлял уведомление о новой вакансии." %}</p>
        </div>
    </div>
    

{% endblock %}
