{% extends 'board/base.html' %} 
{% load static %} 
{% load i18n %} 



{% block head %}
    <meta name="subject" content="{% translate 'Teenwork блог' %}">
    <meta name="description" content="{% translate 'Это раздел блога Teenwork, который рассказывает о работе и подработке для студентов и молодых людей.' %}">
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/teenwork_blog.css' %}">
{% endblock %}

{% block title %}Teenwork Блог{% endblock %}

{% block content %}  

    <h1 class="blog_h1">{% translate "Teenwork блог - статьи для развития и не только" %}</h1>
    {% if request.user.is_staff %}<h3 style="text-align: center;"><a href="{% url 'board:add_blog_post' %}">{% translate "Добавить статью" %}</a></h3>{% endif %}
    <div class="blog">
        <div class="blog_block">
            {% for val in blog_obj %}
                <a href="{% url 'board:tw_blog_post' val.slug %}" class="article">
                    <span>
                        <span class="a_title">{{val.title}}</span>
                        {% if time_now1 == val.published|date:"d.m.Y" %}
                            <span class="a_publ">{% translate "Сегодня" %}</span>
                            <span class="fresh">{% translate "Свежее" %}</span>
                        {% elif time_now2 == val.published|date:"d.m.Y" %}
                            <span class="a_publ">{% translate "Вчера" %}</span>
                            <span class="fresh">{% translate "Свежее" %}</span>
                        {% else %}
                            <span class="a_publ">{{val.published|date:"d.m.Y"}}</span>
                        {% endif %}
                    </span>
                    <span class="a_content">{{val.post_content}}</span>
                </a>
            {% empty %}
                <p>{% translate "Публикаций пока нет, но мы вскоре напишем что-то интересное" %}</p>
            {% endfor %}
        </div>
    </div>
    {% if blog_obj.paginator.num_pages > 1 %}
        <div class="pagination">  
            <div class="pagination_content">
                {% if blog_obj.has_previous %}
                    <a href="?page={{ blog_obj.previous_page_number }}"><span class="pag_arrow_back"></span></a>
                {% endif %}
                    Страница <span class="this_page">{{blog_obj.number}}</span> из {{blog_obj.paginator.num_pages}}
                {% if blog_obj.has_next %}
                    <a href="?page= {{ blog_obj.next_page_number }}"><span class="pag_arrow_forw"></span></a>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}