{% extends 'board/base.html' %} 
{% load static %} 
{% load i18n %} 



{% block head %}
    <meta name="subject" content="{% translate 'Для работодателей' %}">
    <meta name="description" content="{% translate 'Как и для чего нанимать на работу студентов и молодых людей.' %}">
{% endblock %}

{% block title %} {% translate "Для работодателей: как и зачем нанимать на работу студентов" %} Teenwork{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
<style>
    body{
        background: #f2f4f1;
    }
    .employment_checklist{
        margin-bottom: 7px;
        display: block;
    }
</style>
{% endblock %}


{% block content %} 

<div class="page_title">
    <a href="#" onclick="history.back();" class="come_back"><em class="arrow-back"></em></a>
    <span>{% translate "Для работодателей" %}</span>
</div>

<div class="privacy">
    <div class="privacy_block">
        <h1 class="policy_title">{% translate "Для работодателей: как и зачем нанимать на работу студентов" %} - Teenwork</h1> 
        <p>{% translate "TeenWork активно занимается развитием новых отношений с работодателями по всей Украине, чтобы определить места для новых молодых участников. Если вы хотите узнать больше о программе TeenWork или принять участие в ней в качестве работодателя, Вы можете бесплатно" %} <a href="{% url 'board:add' %}">{% translate "добавить" %}</a> {% translate "объявление о вакансии. " %}</p>
        <p>{% translate "Если у Вас будут вопросы, свяжитесь с администрацией TeenWork:" %} <br>
        {% translate "Телефон и личный чат Телеграм/Вайбер: +380(67)421-63-64" %} <br>
        {% translate "Email: teenworkua@gmail.com или help@teenwork.com.ua" %}</p>

        <p>Давайте разберём:</p>
        <ul>
            <li>{% translate "Почему стоит набирать молодых людей на подработку на Вашу временную работу (это может быть всё, на что у Вас не хватает рук или времени, а можно было бы дать это задание студентам за небольшую плату) или в Вашу компанию (если это официальная работа). И какая от этого будет польза для Вас и Вашего бизнеса." %} </li>
            <li>{% translate "Часто задаваемые вопросы для работодателей" %} </li>
            <li>{% translate "Какие документы нужно оформить и какие шаги пройти для трудоустройства несовершеннолетних (для официального трудоустройства)" %} </li>
        </ul>
    </div>

<div class="privacy_block">
<p style="text-align:center;"><strong> {% translate "Почему стоит набирать молодых людей на подработку на Вашу временную работу и какая от этого будет польза для Вас и Вашего бизнеса." %} </strong></p></p>
<p>{% translate "Во-первых, Вы будете одной из немногих компаний, которая сделает такой полезный и замечательный шаг навстречу студентам и несовершеннолетним людям. Благодаря этому о Вас напишут в" %} <strong>{% translate "СМИ" %}</strong>, {% translate "что даст хороший толчок в продвижении Вашего бизнеса." %}</p>
<p>{% translate "Во-вторых, это " %} <strong>{% translate "качественная" %}</strong> {% translate "и" %} <strong>{% translate "недорогая" %}</strong> {% translate "помощь" %}. {% translate "Касаемо" %} <strong>{% translate "неофициальной" %}</strong> {% translate "работы (помощь в саду, огороде, вывоз старых вещей, сбор урожая, краска гаража и многое другое, что только придёт в голову) – школьники и студенты с большой радостью выполнят Вашу работу, потому что именно в таком возрасте у них просыпается жажда к «первым заработанным деньгам». " %}<br>
{% translate "Касаемо" %} <strong>{% translate "официальной" %}</strong> {% translate "работы в компании (курьер, помощь в работе с документами – их сортировка, утилизация; выполнение рутинных задач в Вашей работе и многое другое) – студенты также с радостью будут работать на Вашу компанию и приносить большую пользу. " %}</p>
<p>{% translate "В-третьих, признание нынешних " %} <strong>{% translate "клиентов" %}</strong> {% translate "и возможный " %} <strong>{% translate "прирост" %}</strong> {% translate "новых. Так как Вы будете показывать заботу о нынешнем молодом поколении, нанимая на вакансии студентов, люди будут чувствовать большее доверие к Вам." %}</p>
</div>

<div class="privacy_block">
<p style="text-align:center;"><strong>{% translate "Интересующие вопросы работодателей" %}</strong></p>
<p><strong>1. {% translate "Какая оплата должна быть у студентов, которых мы наняли на работу?" %}</strong>
<p><strong>{% translate "Подработка" %}</strong> {% translate ": здесь попроще – сколько договоритесь с студентом. Скажем, помощь в сборе урожая – 100 грн (цена выдумана)." %} <br>
<strong>{% translate "Официальная работа" %}</strong> {% translate ": в соответствии со" %} <a href="{% url 'board:lawbook' %}">{% translate "статьёй 194" %}</a> {% translate "КЗОТ Украины «Оплата труда работников моложе 18 лет при сокращенной продолжительности ежедневной работы»." %} </p>

<p><strong>2. {% translate "Сколько стоит подать объявление на Teenwork?" %}</strong></p>
<p>{% translate "Объявление на сервисе Teenwork можно опубликовать БЕСПЛАТНО." %}</p>

<p><strong>3. {% translate "Как мне получить значок «Официальный аккаунт»?" %}</strong></p>
<p><strong>{% translate "Физ.лицо (подработка)" %}:</strong> {% translate "не менее 5 положительных отзывов от Ваших рабочих (1 человек – 1 отзыв), заполненные все поля данных о себе и наличие фотографии в профиле." %} <br>
<strong>{% translate "Компания (официальная работа)" %}:</strong> {% translate "предоставить администрации Teenwork (контакты вверху статьи) Полное наименование юридического лица, Код ЕГРПОУ." %} <br>
<strong>{% translate "ФЛП (официальная работа)" %}:</strong> {% translate "полное ФИО, ИНН, название и местоположение Вашего бизнеса." %}</p>

<p><strong>4. {% translate "Потребуется ли молодёжи больше обучения, чем другим сотрудникам?" %}</strong></p>
<p>{% translate "В каждом конкретном случае молодые сотрудники TeenWork могут запросить дополнительное обучение, если они сочтут это необходимым, как и любой другой сотрудник – это зависит от Вашей занятости. Мы уверены, в начале рабочего пути молодого человека Вы будете давать ему (ей) нетрудные задачи для того, чтобы понять, на что способен подросток. После этого Вы будете видеть картину чётче: каким из ваших рабочих-студентов давать какую работу и, соответственно, чему обучать." %} </p>

<p><strong>5. {% translate "Могут ли молодые люди работать столько же часов, сколько другие мои сотрудники?" %}</strong></p>
<p><strong>{% translate "Подработка" %}</strong> {% translate ": здесь попроще – сколько договоритесь работать времени студентом. " %} <br>
<strong>{% translate "Официальная работа" %}</strong> {% translate ": в соответствии со " %} <a href="{% url 'board:lawbook' %}">{% translate "статьёй 193" %}</a> {% translate "КЗОТ Украины «Нормы выработки для молодых рабочих»." %}</p>
</div>

<div class="privacy_block">
<p style="text-align: center;"><strong>{% translate "Какие документы нужно оформить и какие шаги пройти для трудоустройства несовершеннолетних (для официального трудоустройства)" %}</strong></p>
<p><strong>{% translate "! Так как мы не имеем достаточно знаний, проконсультируйтесь с Вашим кадровым специалистом/юристом !" %}</strong></p>
<p>{% translate "Прочитайте больше информации в следующих источниках:" %} <a href="https://i.factor.ua/journals/nibu/2017/june/issue-47/article-28089.html">i.factor.ua</a>  {% translate "и" %} <a href="https://www.kadrovik.ua/novyny/trud-nesovershennoletnih-lgoty-garantii-i-ogranicheniya">kadrovik.ua</a> {% translate "(именно там мы брали часть информации)" %}<br>
{% translate "Ниже мы привели чеклист, который поможет помнить о шагах, которые нужны для трудоустройства (как отметите, мы сохраним Ваш выбор в куки, поэтому можете просмотреть позже)" %}</p>
<label class="employment_checklist">
    <input type="checkbox" class="agree_checkbox">
    <span class="fake"></span>
    <span class="checkbox_span">{% translate "Письменное разрешение одного из родителей или лица, которое его заменяет" %}</span>
</label>
<label class="employment_checklist">
    <input type="checkbox" class="agree_checkbox">
    <span class="fake"></span>
    <span class="checkbox_span">{% translate "Проф. медицинский осмотр по приказу 246 (хирург, окулист, терапевт, отоларинголог, невропатолог, гинеколог - для женщин + АНАЛИЗЫ)" %}</span>
</label>
<label class="employment_checklist">
    <input type="checkbox" class="agree_checkbox">
    <span class="fake"></span>
    <span class="checkbox_span">{% translate "Паспорт" %}</span>
</label>
<label class="employment_checklist">
    <input type="checkbox" class="agree_checkbox">
    <span class="fake"></span>
    <span class="checkbox_span">{% translate "Справка о регистрационном номере учетной карточки плательщика налогов или идентификационном номере" %}</span>
</label>
<label class="employment_checklist">
    <input type="checkbox" class="agree_checkbox">
    <span class="fake"></span>
    <span class="checkbox_span">{% translate "Трудовая книжка" %}</span>
</label>
<label class="employment_checklist">
    <input type="checkbox" class="agree_checkbox">
    <span class="fake"></span>
    <span class="checkbox_span">{% translate "Документ об образовании (если предусмотрено законом) " %}</span>
</label>
<label class="employment_checklist">
    <input type="checkbox" class="agree_checkbox">
    <span class="fake"></span>
    <span class="checkbox_span">{% translate "Трудовой договор в письменной форме" %}</span>
</label>
<label class="employment_checklist">
    <input type="checkbox" class="agree_checkbox">
    <span class="fake"></span>
    <span class="checkbox_span">{% translate "Приказ (распоряжение) формы №П-1 о приёме несовершеннолетнего гражданина на работу (после заключения трудового договора)" %}</span>
</label>
</div>

</div>
{% endblock %}
{% block scripts %}
<script>
    function check_checkboxes(){
        if(getCookie('documents_checkboxes')){
            var cookie = document.cookie.split(';');
            var checkboxes_cookie = getCookie('documents_checkboxes');
            checkboxes_cookie = checkboxes_cookie.split(',');
            var count = 0;
            $(".agree_checkbox").each(function() {
                if(checkboxes_cookie[count] == 1){ // checked
                    $(this).attr('checked',true);
                    this.checked ? $(this).parent().find('.checkbox_span').css('opacity', '0.3') : $(this).parent().children('.checkbox_span').css('opacity', '1');
                }
                else{ // not checked
                    $(this).attr('checked',false);
                    this.checked ? $(this).parent().find('.checkbox_span').css('opacity', '0.3') : $(this).parent().children('.checkbox_span').css('opacity', '1');
                }
                count ++;
            });
        }
    }
    if(document.querySelector('.agree_checkbox')){
        $( ".agree_checkbox" ).click(function() {
            document_checkboxes_check();
        });
        function document_checkboxes_check(){
            var sList = "";
            $('.agree_checkbox').each(function () {
                var sThisVal = (this.checked ? "1" : "0");
                this.checked ? $(this).parent().find('.checkbox_span').css('opacity', '0.3') : $(this).parent().children('.checkbox_span').css('opacity', '1');
                sList += (sList=="" ? sThisVal : "," + sThisVal);
            });
            document.cookie = "documents_checkboxes="+ sList +"; path=/; max-age=2592000; samesite=lax";;
        }
        
    }

    $(document).ready(function() {
        check_checkboxes();
    });
    function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }

</script>
{% endblock %}