

{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {{ block.super }}


    <div class="submit-row">
        <input type="submit" value="Отправить email" name="send_email_btn" class="default send_email_btn">
        <input type="submit" value="Отправить пробный email" name="send_test_email_btn" class="default send_test_email_btn">
        <input type="submit" value="Удалить без подтвержд." name="delete_btn" style="background: var(--delete-button-bg); border-radius: 4px; padding: 10px 15px; height: 37px; line-height: 15px; color: var(--button-fg);">
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('.send_email_btn').click(function() {
            $(this).val('Отправляем...')
        });

        $('.send_test_email_btn').click(function() {
            $(this).val('Отправляем...')
        });
    </script>
{% endblock %}