{% load static %}  

{% load i18n %} 
<!DOCTYPE html>
<html lang="{{request.LANGUAGE_CODE}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GJJ2BVNFYQ"></script>
    <script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)} gtag('js',new Date());gtag('config','G-GJJ2BVNFYQ');</script>

    <link rel="shortcut icon" href="{% static 'img/icons/teenwork.ico' %}" type="image/x-icon">
    <title>{% translate "Сброс пароля" %}</title>
</head>
<body>
    <form method="POST" action="{% url 'account:reset_email' %}">
        {% csrf_token %}
        <div class="box">
            <h1>{% translate "Впишите Ваш email, куда мы пришлём письмо для обновления пароля" %}</h1>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="input_textbox">
                <input type="text" name="email" required="" id="email"><br>
                <label>Email</label>	
            </div>	
            <button type="submit" class="button login" onclick="this.classList.add('button_loading')">
                <span class="button_text">{% translate "Отправить" %}</span>
            </button>
        </div>
    </form>

</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/main_instantly.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
</html>