.logo {
	height: 45px;
	margin-left: 50px;
	margin-top: 10px;
}

.langs {
	padding: 5px 10px 10px 10px;
	border-radius: 7px;
	display: inline-block;
	top: -10px;
	position: relative;
	margin-left: 70px;    
}