{% load static %}
{% load i18n %} 
<!DOCTYPE html>
<html lang="{{request.LANGUAGE_CODE}}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Language" content="{{request.LANGUAGE_CODE}}">
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'css/room.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'css/adaptive_room.css' %}" type="text/css" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'img/icons/teenwork.ico' %}" type="image/x-icon">

  <title>Чат - {{room.ad_fk.title}}</title>
</head>
<body>
<div class="main">
  <div class="container">
    <div class="title">
      <a href="{% url 'account:account' participant.username %}" class="emp_a">
        {% if show_add_workers_icon %}
          <span class="emp_data">
            {% if participant.image %}
              <img src="{{participant.image.url}}" alt="{% translate 'Фото получателя' %}" class="photo">
            {% else %}
              <img src="{% static 'img/user.svg' %}" class="photo" alt="{% translate 'Нет фото получателя' %}">
            {% endif %}
            <span class="emp_name">
              {% if participant.first_name and participant.last_name %}
                {{participant.first_name}} {{participant.last_name}}
              {% elif participant.first_name %}
                {{participant.first_name}}
              {% elif participant.last_name %}
                {{participant.last_name}}
              {% else %}
                {{participant.username}}
              {% endif %}
              </span>

            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="room_id" id="room_id" value="{{room.id}}"/>
              <div class="add_worker"><img src="{% static 'img/white_tick.svg'%}" alt=""></div>
            </form>
          </span>
        {% else %}
          <span class="emp_data">
            {% if participant.image %}
              <img src="{{participant.image.url}}" alt="{% translate 'Фото получателя' %}" class="photo">
            {% else %}
              <img src="{% static 'img/user.svg' %}" class="photo" alt="{% translate 'Нет фото получателя' %}">
            {% endif %}
            <span class="emp_name">{{participant}}</span>
          </span>
        {% endif %}
      </a>
      
      <span class="add_worker_help_text">
        {% translate "Вы приняли нового сотрудника. Поздравляем! Осталось" %} <strong>{{workers_amount}}</strong> {% translate "вакансии" %}. 
        {% translate "Всех людей можно посмотреть" %} <a href="{% url 'chat:workers_list'%}">{% translate "здесь" %}</a>
      </span>


      
      <a href="{% url 'board:advertisement' slug=room.ad_fk.slug%}" title="Перейти к объявлению" class="adt_title_a">
        <div class="adt_title">
          <img src="{{room.ad_fk.get_image}}" alt="" >
          <span class="title_name">{{room.ad_fk.title}}</span>
          <span class="sal">{{room.ad_fk.price}} {{room.ad_fk.currency}}</span>
        </div>
      </a>
    </div>

  
    <div class="main_chat">
      <div id="messages_field">
        <div class="loading" role="status">{% translate "Загрузка" %}...</div>
      </div>
    </div>

    <form method="POST" id="post-form">
      {% csrf_token %}
      <textarea id="message" placeholder='{% translate "Сообщение" %}' name="message"></textarea>
      <input type="hidden" name="sender" id="sender" value="{{this_user}}"/>
      <input type="hidden" name="receiver" id="receiver" value="{{participant}}"/>
      <input type="hidden" name="room_name" id="room_name" value="{{room.name}}"/>
      <button type="submit" id="send_msg_room">
        <img src="{% static 'img/send_msg.svg' %}" alt="">
      </button>
    </form>
  </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="{% static 'js/chats.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main_instantly.js' %}" type="text/javascript"></script>
<script async src="{% static 'js/script.js' %}" type="text/javascript"></script>

<script>
  document.getElementById('message').value = '{{msg}}';
</script>

</html>