.container {
    margin: auto;
    width: 80%;
}

.pageTitle {
    font-size: 3rem;
    font-weight: normal;
    margin: 2rem 0;
}
.pageNote {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 2rem 0;
}

.formMain {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
}

.workersNumBlock {
    margin-top: 1rem;
    color: var(--color-grey-main);
    font-size: 1rem;
}

.workersNum {
    background: #fff;
    width: 2.5rem;
    border: none;
}

.description {
    background: #fff;
    padding: 1rem;
    width: 50rem;
    height: 20rem;
    outline: none;
    resize: none;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
}

.descWordsCounter {
    color: var(--color-grey-main);
    position: absolute;
    top: 0;
    right: 1.5rem;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;

    .userInfoPart {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        span {
            font-size: 1.25rem;
        }

        input {
            border: none;
            border-bottom: var(--border-light);
        }
    }
}

.submitBtn {
    margin: auto;
    width: 100%;
    text-align: center;
    width: 90%;
    height: 3rem;
    font-size: 1.25rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background: var(--color-blue-main);
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background .3s ease;

    &:hover {
        background: var(--color-blue-light);
    }
}
