.adt_container{
	margin: 13px 13px 0 13px;
	background: transparent;
	text-align: center;
}
.adt_name{
  width: 97%;
  height: 35.2px;
  overflow: hidden;
  position: relative;
  padding-left: 3%;

  border-bottom: .5px solid rgba(0,0,0,0.3);
}
#close_adt_more_info{
  display: block;
  position: absolute;
	right: 0;
	font-size: 30px;
	transform: rotate(45deg);
}


.logo_teenwork{
  display: none;
}
.age_main{
  position: relative;
  margin-top: 25px;
}
.age_span{
  margin: 10px 0 10px 10px;
  display: block;
  font-size: 19px;
  font-weight: normal;
}
.dark .age_span{
  color: #fff;
}
.age_block{
  overflow-x: scroll;
  white-space: nowrap;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.dark .age_block{
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.age_block::-webkit-scrollbar{
	height: 1px;
}
.age_block::-webkit-scrollbar-thumb{
  background: #000;
}
.dark .age_block::-webkit-scrollbar-thumb{
  background: #fff;
}
.age_range{
  padding: 10px 5px 10px 5px;
  margin: 0;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
  white-space: nowrap;
  text-align: center;
}
.age_range a{
  text-decoration: none;
  color: #000;
  font-size: 22px;
}
.age_circle{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 5px 0 0;
  background: #fff;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}




.bottom_navigation{
  height: 50px;
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0;
  z-index: 101;
  -webkit-box-shadow: 0px 5px 3px -5px rgba(70, 79, 86, 0.39) inset;
  -moz-box-shadow: 0px 5px 3px -5px rgba(70, 79, 86, 0.39) inset;
  box-shadow: 0px 5px 3px -5px rgba(70, 79, 86, 0.39) inset;

  display: block;
  transition: bottom 0.25s ease-in;
}
.bot_nav_hide{
  bottom: -50px;
}
.bottom_navigation{
  text-align: center;
}
.bottom_navigation a{
  text-decoration: none;
}
.bottom_navigation ul{
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
}
.bottom_navigation li{
  position: relative;
  margin-top: 10px;
  width: 18%;
}
.bottom_navigation img{
  width: 20px;
  display: inline-block;
}
.bottom_navigation span{
  color: #a47c7c;
  font-size: 12px;
  margin: 0;
  top: -2px;
  position: relative;
  display: block;
}

.main_dark_search, .adt_more_dark{
  padding: 0;
  margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	justify-content: center;
	align-items: center;
	display: none;
  z-index: 10;
}
.mds_show{
  display: flex;
}
.up{
  position: relative;
  top: 4px;
}

.accept_cookie{
	padding: 32px;
	border-radius: 7px;
	background-color: #3a3e42 ; /*33373c*/
	width: 512px;
	box-sizing: border-box;
	right: 16px;
	bottom: 16px;
	position: fixed;
	z-index: 1000;

	display: none;
}

.more_filters_field{
  top:initial;
  height: 0px;

  left: 0;
  position: fixed;
  bottom: 106px;
  position: fixed;
  width: 90%;
  padding: 5%;
}


/*--------------------------------- ПЛАНШЕТ ВЕРТИКАЛЬНО --------------------------------------*/
/* IPAD PRO */
@media (orientation:portrait) and (max-width:1025px) and (max-height:1367px){ 
  .age_main{
    display: block;
  }
  .adt_image_block{
    width: 100%;
    height: 120px;
  }
	.main{
    padding: 0;
    min-height: 100vh;
  }
  .test{
    display: none;
  }
  footer{
    padding: 0 20px 50px 20px;
  }
  footer div{
    margin-right: 15px !important;
  }
  .footer_about {
    width: 290px;
  }
  .dark .adt_arrow_down{
    border: solid rgba(0,0,0,0.5);
    border-width: 0 3px 3px 0;
  }
  .dark .adt{
    color: #000;
  }



  .adt_more_info {
    border-top: none;
    margin: 0;
    border-radius: 0 0 4px 4px;
    background: #fff;
  }
  .adt_info{
    position: fixed;
    background: #fff;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    z-index: 11;
    top: 15%;
    height: 60%;
    overflow: hidden;
    display: none;
    font-size: 14px;
    flex-direction: column;
  }
  .adt_author_info{
    text-align: center;
    width: 100%;
    display: block;
  }
  .adt_author_info span{
    margin: 0;
  }
  .adt_content{
    width: 100%;
    padding: 5px;
  }
  .adt_content_header{
    display: block;
    margin-top: 20px;
  }




  .lines_container{
    display: none;
  }
  .logo_teenswork{
    display: none;
  }
  .adt_a:hover .zoom{
    transform: initial;
  }

  /*------------------ FAVOURITES --------------------------*/

  .empty_fav_list a, .fav_title, .empty_fav_list {
    margin: 0;
    display: block;
    text-align: center;
  }
  /*--------------------------------------------*/
  

  .main .search_field{
    bottom: -52px;
    position: fixed;
    margin: 0;
    z-index: 101;
	  width: 100%;

    display: block;
    transition: bottom 0.35s cubic-bezier(0.42, 0, 0.01, 0.96); 
  }
  .sf_show{
    bottom: 52px !important;
  }
  #id_title_content{
    width: 80%;
    height: 44px;
    padding: 3px;
    font-size: 17px;
    box-sizing:border-box;
    height:50px;
  }
  .search_btn {
    width: 70px;
    height: 50px;
    padding: initial;
  }
  .more_filters{
    padding: 15px 22px 15px 22px;
    height: 50px;
    bottom: 0.5px;
    box-sizing: border-box;
  }
  .bottom_navigation{
	display: block;
  }
  .more_filters_field{
    padding: 2%;
    width: auto;
    margin-left: 5%;
  }
  .sal_field, .age_field, .region, .city, .type_of_emp {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 13px;

    display: block;
    margin-top: 15px;
    margin-left: 10px;
  }
  

  .container{
    all: unset;
    background: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .adt{
    all: initial;
    line-height: 18px;
    text-align: left;
    border-radius: 4px 4px 0 0;
    width: 21%;
    display: inline-block;
    margin: 1.5% 1%;
    position: relative;
  }
  .adt_name{
    margin-top: 0;
    font-size: 14px;
    position: relative;
  }
  .adt_n{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
  }
  .adt_image{
    all: unset;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    height: 170px;
  }

  .adt_salary{
    letter-spacing: -0.8px;
    word-spacing: -2px;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 4px;
  }
  .adt_age, .adt_rubric, .adt_created, .adt_city {
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: -0.8px;
  }
  .adt_age{
    margin-top: 5px;
  }
  .adt_rubric, .adt_created{
    width: initial;
    display: inline-block;
  }
  .adt_age, .adt_rubric, .adt_city{
    font-size: 12px;
  }
  .adt_created{
    margin-top: 0;
	float: right;
    margin-right: 10px;
  }
  .heart{
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .heart img{
    background: #fff;
    padding: 5px;
    border-radius: 12px;
  }
  

  /*--- COOKIES ----*/
  .accept_cookie{
	  all: unset	;
    padding: 12px;
    padding-bottom: 20px;
    background-color: #3a3e42;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
	  bottom: 50px;
    width: 60%;
  	right: 0;
    border-radius: 10px;

    display: none;
	  transition: bottom 0.25s ease-in;
	}
  .try_24h{
    display: none !important;
  }
	@keyframes pulse {
		100% {
		  transform: scale(1.15);
		}
	}
	.cookies_show{
		display: inline-block;
	}
	.cookie_photo{
		float: left;
		margin-left: 40px;
	}
	.cookie_photo img{
		width: 80px;
		user-select: none;
		pointer-events: none;
	}
	.cookie_text{
		color: #fff;
		font-size: 13px;
		position: relative;
		width: 70%;
		float: right;
		margin-left: initial;
	}

	.cookie_buttons{
		top: 15px;
		margin-left: initial;
		margin-top: 15px;
		position: relative;
		float: right;
	}
	.cookie_know_more{
		text-align: center;
		display: inline-block;
		margin-right: 10px;
	}
	.cookie_know_more a{
		text-decoration: none;
		color: #fff;
		text-decoration: none;
	}
	.cookie_know_more_text {
		display: inline-block;
		position: relative;
		font-size: 10px;
	}

	.cookie_submit_button{
		padding: 8px;
		font-size: 13px;
		background: #35bd35;
		border: none;
		color: #fff;
		border-radius: 7px;
		width: 110px;
		cursor: pointer;
	}
	.rules_understand{
        font-size: 20px;
    }
    
    /* Главная страница - изображение мужчины и студента */
    .main_img{
        width: 80%;
    }
    .oval{
        margin-left: 18%;
    }
    .oval_teen{
        right: 30%;
    }
}
@media (orientation:portrait) and (max-width:768px) and (max-height:1024px){ 	
    .main_img{
        font-size: 14px;
    }
    .mans_speech{
        margin-top: 0;
    }
    .oval{
        width: 122px;
        height: 90px;
    }
}
@media (orientation:portrait) and (max-width:600px) and (max-height:960px){ 	
	#id_title_content {
		width: 75%;
	}
  .age_field, .region_field, .city, .region, .type_of_emp, .sal_field{
    float: left;
    margin-left:0;
  }
  
  .oval{
        margin-top: 0;
    }
    .oval_teen{
        margin-top: 3%;
    }
}
@media (orientation:portrait) and (max-width:540px) and (max-height:720px){ 	
	#id_title_content {
		width: 70%;
	}
  .more_filters_field{
    margin-left: 0;
  }
}

/*--------------------------------- ПЛАНШЕТ ГОРИЗОНТАЛЬНО --------------------------------------*/
@media (orientation:landscape) and (max-width:1367px) and (max-height:1025px){
  .age_main{
    display: block;
  }
  .adt_image_block{
    all: initial;
  }
	.main{
    padding: 0;
    min-height: 100vh;
  }
  footer{
    padding: 0 20px 50px 20px;
  }
  footer div{
    margin-right: 15px !important;
  }
  .footer_about {
    width: 290px;
  }
  .dark .adt_arrow_down{
    border: solid rgba(0,0,0,0.5);
    border-width: 0 3px 3px 0;
  }
  .dark .adt{
    color: #000;
  }
  
  .test{
    display: none;
  }
  .lines_container{
    display: none;
  }
  .logo_teenswork{
    display: none;
  }
  .bottom_navigation{
	display: block;
  }
  .adt_a:hover .zoom{
    transform: initial;
  }



  .adt_more_info {
    border-top: none;
    margin: 0;
    border-radius: 0 0 4px 4px;
    background: #fff;
  }
  .adt_info{
    position: fixed;
    background: #fff;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    z-index: 11;
    top: 15%;
    height: 60%;
    overflow: hidden;
    display: none;
    font-size: 14px;
    flex-direction: column;
  }
  .adt_author_info{
    text-align: center;
    width: 100%;
    display: block;
  }
  .adt_author_info span{
    margin: 0;
  }
  .adt_content{
    width: 100%;
    padding: 5px;
  }
  .adt_content_header{
    display: block;
    margin-top: 20px;
  }


  /*------------------ FAVOURITES --------------------------*/

  .empty_fav_list a, .fav_title, .empty_fav_list {
    margin: 0;
    display: block;
    text-align: center;
  }
  /*--------------------------------------------*/

  .main .search_field{
    bottom: -52px;
    position: fixed;
    margin: 0;
    z-index: 101;
	  width: 100%;

    display: block;
    transition: bottom 0.35s cubic-bezier(0.42, 0, 0.01, 0.96); 
  }
  .sf_show{
    bottom: 52px !important;
  }
  #id_title_content{
    width: 80%;
    height: 44px;
    padding: 3px;
    font-size: 17px;
  }
  .search_btn {
    width: 70px;
    height: 50px;
    padding: initial;
  }
  .more_filters{
    padding: 15px 22px 15px 22px;
    height: 50px;
    bottom: 0.5px;
    box-sizing: border-box;
  }
  .more_filters_field{
    padding: 2%;
    width: auto;
    margin-left: 5%;
  }
  .city{
    float: right;
    margin-left: 50px;
  }
  

  .container{
    all: unset;
    background: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .adt{
    all: initial;
    line-height: 18px;
    text-align: left;
    border-radius: 4px 4px 0 0;
    width: 28%;
    display: inline-block;
    margin: 1.5% 1%;
    position: relative;
  }
  .adt_name{
    margin-top: 0;
    font-size: 14px;
    position: relative;
  }
  .adt_n{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
  }
  .adt_image{
    all: unset;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    height: 170px;
  }

  .adt_salary{
    letter-spacing: -0.8px;
    word-spacing: -2px;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 4px;
  }
  .adt_age, .adt_rubric, .adt_created, .adt_city {
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: -0.8px;
  }
  .adt_age{
    margin-top: 5px;
  }
  .adt_rubric, .adt_created{
    width: initial;
    display: inline-block;
  }
  .adt_age, .adt_rubric, .adt_city{
    font-size: 12px;
  }
  .adt_created{
    margin-top: 0;
	float: right;
    margin-right: 10px;
  }
  .heart{
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .heart img{
    background: #fff;
    padding: 5px;
    border-radius: 12px;
  }
  

  .accept_cookie{
	  all: unset	;
    padding: 12px;
    padding-bottom: 20px;
    background-color: #3a3e42;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
	  bottom: 50px;
    width: 50%;
  	right: 0;
    border-radius: 10px;

    display: none;
	  transition: bottom 0.25s ease-in;
	}
  .try_24h{
    display: none !important;
  }
	@keyframes pulse {
		100% {
		  transform: scale(1.15);
		}
	}
	.cookies_show{
		display: inline-block;
	}
	.cookie_photo{
		float: left;
	}
	.cookie_photo img{
		width: 80px;
		user-select: none;
		pointer-events: none;
	}
	.cookie_text{
		color: #fff;
		font-size: 13px;
		position: relative;
		width: 70%;
		float: right;
		margin-left: initial;
	}

	.cookie_buttons{
		top: 15px;
		margin-left: initial;
		margin-top: 15px;
		position: relative;
		float: right;
	}
	.cookie_know_more{
		text-align: center;
		display: inline-block;
		margin-right: 10px;
	}
	.cookie_know_more a{
		text-decoration: none;
		color: #fff;
		text-decoration: none;
	}
	.cookie_know_more_text {
		display: inline-block;
		position: relative;
		font-size: 10px;
	}

	.cookie_submit_button{
		padding: 8px;
		font-size: 13px;
		background: #35bd35;
		border: none;
		color: #fff;
		border-radius: 7px;
		width: 110px;
		cursor: pointer;
	}
	.rules_understand{
        font-size: 20px;
    }
    
    .main_img{
        width: 80%;
    }
    .oval{
        margin-left: 18%;
    }

    .main_img{
        font-size: 14px;
    }
    .mans_speech{
        margin-top: 0;
    }
    .oval{
        width: 122px;
        height: 90px;
    }
    .oval_teen{
        right: 30%;
    }
}





@media (orientation:landscape) and (max-width:1024px) and (max-height:768px){
}











/*--------------------------------- Телефон ВЕРТИКАЛЬНО --------------------------------------*/
@media (orientation:portrait) and (max-width:480px){
  #id_title_content{
    width: 60%;
  } 
  footer{
    display: none;
  }

  .adt{
    width: 46%;
  }

  .tick{
    position: absolute;
    bottom: initial; 
    margin-top: -3px;
  }
  .tick_text{
    width: auto;
    margin-top: 5px;
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /*--- COOKIES ----*/
  .accept_cookie{
  	all: unset	;
    padding: 12px;
  	padding-bottom: 20px;
    background-color: #3a3e42;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
	  bottom: 50px;

    display: none;
	  transition: bottom 0.25s ease-in;
	}
  .cookies_show{
    display: inline-block;
  }
  .cookie_photo{
    margin-left: 0;
  }

    /*------------------------------------ ПОЛИТИКА КОНФИДЕНЦ. И ПРАВИЛА САЙТА ------------------------------------------------------------*/
  .page_title{
    display: block;
  }
  .privacy{
    margin-top: 50px; 
    width: 98%;
  }
  .privacy_block{
    padding: 7px;
  }
  .privacy_block ul{
    padding: 0;
  }
  
  .main_img {
        flex-direction: column;
        font-size: 15px;
    }
    .main_man, .main_teen{
        width: 100%;
    }
    .oval{
        margin-left: 0;
        right: 13%;
        width: 135px;
        height: 100px;
    }
    .mans_speech{
        margin-top: 0;
    }
    .oval_teen{
        left: 10%;
    }
}

@media (max-width:420px){
}
@media (max-width:380px){
    .oval{
        right: 11%;
    }
    .oval_teen{
        left: 11%;
    }
}
@media (max-width:360px){
	#id_title_content {
		width: 55%;
	}
	
	.oval{
	    right:9%;
	}
	.oval_teen{
	    left:9%;
	}
}
@media (max-width:320px){
	#id_title_content {
		width: 53% !important;
	}
	
	.main_img {
        font-size: 14px;
    }
    .main_man, .main_teen{
        width: 100%;
    }
    .oval{
        margin-left: 0;
        width: 117px;
        height: 90px;
    }
}

@media (max-width:280px){	
	#id_title_content {
		width: 49% !important;
	}
	.search_btn {
		width: 64px;
	}	
	.container{
		width: 80%;
	}
	
	.oval{
        margin-left: 0;
        width: 117px;
        height: 90px;
    }
}



/*--------------------------------- Телефон Горизонтально --------------------------------------*/
@media (orientation:landscape) and (max-width:900px){
  
  footer{
    display: none;
  }
  .adt{
    width: 22%;
  }
  .adt_name{
    position: relative;
    font-size: 14px;
  }
  .adt_n{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
  }
  .tick{
    position: absolute;
    bottom: initial; 
    margin-top: -3px;
  }
  .tick_text{
    width: auto;
    margin-top: 5px;
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .adt_age, .adt_rubric, .adt_created, .adt_city {
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: -0.8px;
  }
  .adt_age, .adt_rubric, .adt_city{
    font-size: 12px;
  }
  .heart{
    bottom: 91%;
  }

    /*------------------------------------ ПОЛИТИКА КОНФИДЕНЦ. И ПРАВИЛА САЙТА ------------------------------------------------------------*/  
  .page_title{
    display: block;
  }
  .privacy{
    margin-top: 50px;
    width: 98%;
  }
  .privacy_block{
    padding: 7px;
  }
  .privacy_block ul{
    padding: 0;
  }
  
  .oval_teen{
        margin-left: 3%;
    }
}
@media (orientation:landscape) and (max-width:850px){
	.container{
		width: 26%;
	}
	
	.main_img{
        font-size: 15px;
    }
    .oval{
        width: 143px;
        height: 102px;
    }
    .mans_speech{
        margin-top: 0;
    }
}
@media (orientation:landscape) and (max-width:740px){
	.adt_created {
		float: right;

	}
	#id_title_content{
		width: 70%;
	}
	
	.main_img{
        font-size: 14px;
    }
    .oval{
        width: 122px;
        height: 90px;
    }
}
@media (orientation:landscape) and (max-width:600px){
	.container{
		width: 36%;
	}
	
	.main_img{
        font-size: 13px;
    }
    .oval{
        width: 105px;
        height: 80px;
    }
    .oval{
        margin-top: 0;
    }
    .oval_teen{
        margin-top: 3%;
    }
}