*{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
body{
	background: #f2f4f1;
	padding: 0;
	margin: 0;
	
	font-family: Verdana;
}
h1{
    font-weight: normal;
    margin:0;
}
.main{
	top: 0;
	left: 0;
	width: 100%;
 	height: 100%;
	padding: 73px 0 0 0;
	margin: 0;
	min-height: calc(100vh - 73px);
	overflow: hidden;
}
.pagination{
	font-size: 13px;
	text-align: center;
}
.age_main{
	display: none;
}
.pagination_content{
	display: inline-block;
	background: #fff;
	text-align: center;
	padding: 5px;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 35px;
}
.this_page{
	font-size: 16px;
	color: #fff;
	background: rgb(28, 21, 46);
	border-radius: 50%;
	padding: 5px 10px;
}
.pag_arrow_back, .pag_arrow_forw{
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	margin: 0 0 1px 0;
	border-radius: 1px;
}
.pag_arrow_forw{
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.test{
	transform: translateZ(0);
	background: #1e2b55;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 73px;
	position: fixed;
	transition: transform .4s,-webkit-transform .4s;
	will-change: transform;

	background-size: 300%;
	animation: anim 5s infinite alternate;
}

.show{
	transform: translateY(0%);
}

.hide{
	transform: translateY(-100%);
}

@keyframes anim {
	0%{background-position: left;}
	100%{background-position: right;}
}

li{
	list-style-type: none;
	display: inline-block;
}

.test_ul{
	float: right;
    margin: 0;
    padding: 0;
	height: 100%;
	display: flex;
	align-items: center;
}
.test_ul li{
	margin-right: 15px;
}
.logo{
	height: 45px;
	margin-left: 50px;
	margin-top: 10px;
}

.toggle{
    background: #e9f5ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    background-image: url(/static/img/moon.svg);
    background-size: contain;
}
.dark .toggle{
	background-image: url(/static/img/sun.svg);
	background-color: #323840;
}

.liked_posts{
	width: 30px;
	background-size: contain;
	right: 70px;
}

.liked_posts, .toggle{
	top:20px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	display: flex;
}

.prompt_telegram_bot{
	padding: 0px 10px 0px 10px;
	border-radius: 3px;
	background: rgba(50, 56, 64, 0.5);
	top: 65px;
	height: 30px;
	width: 84px;

	font-size: 12px;
	color: #000;	
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
	font-family: Verdana;
	visibility: hidden;
	opacity: 0;
}
.telegram:hover .prompt_telegram_bot{
	transition: opacity 0.5s;
	opacity: 1;
	visibility: visible;
}
.dark .prompt_telegram_bot{
	color: #323840;
	background: rgba(242, 244, 241, 0.7);
}

.telegram_icon{
	top: 2px;
	position: relative;
	width: 16px;
}

.add_post, .telegram, .account{
	padding: 0px 10px 0px 10px;
	border-radius: 3px;
	background: #fff;
	height: 43px;
	font-size: 15px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	display: flex;
}

.add_post a, .telegram a{
	text-decoration: none;
	color:#000;
}

.account{
	background: none;
	color: #fff;
}
.account a{
	text-decoration: none;
	color: #fff;
}
.account_icon img{
	height: 16px;
	bottom: -2px;
	position: relative;
}



.add_cross{
	position: relative;
	font-size: 25px;
	padding: 2px;
	top: -2px;
	transition: transform 0.7s ease-in-out;
}

/* .add_post:hover .add_cross{
	transform: rotateY(360deg);
} */

.langs{
	padding: 5px 10px 10px 10px;
	border-radius: 7px;
	display: inline-block;
	top: -10px;
	position: relative;
	margin-left: 70px;
}

#lang_checkbox, #lang_checkbox_others
{
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #eb6d6d;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
  bottom: -3px;
  border: 2px solid #fff;
}
.ru, .uk{
	top: -3px;
	position: relative;
	text-decoration: none;
}
.uk{
  color: #c6c6c6;
}
#lang_checkbox:checked + .uk, #lang_checkbox_others:checked + .uk{
  color: #c6c6c6;
}
#lang_checkbox:checked, #lang_checkbox_others:checked
{
  background: #03a9f4;
}
#lang_checkbox:before, #lang_checkbox_others:before
{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -2px;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
}
#lang_checkbox:checked::before, #lang_checkbox_others:checked::before
{
  left:20px;
}


.dark {
	background: #1c1c1c;
}

.dark .adt{
	color: #fff;
	background: #323840;
}

.dark .adt a{
	color: #fff;
}
.dark .name a{
	color: #2fa1ff;
}
::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color:#bbbdc0;
}
::-webkit-scrollbar{
    width: 10px;
}
html{
	scrollbar-color: #cdcdcd #f0f0f0;
	scrollbar-width: thin;
}


.dark_scroll::-webkit-scrollbar-track{
    background-color: black;
}
.dark_scroll::-webkit-scrollbar{
    width: 10px;
    background-color: black;
}
.dark_scroll::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color:#323840;
}

.dark_scroll{
	scrollbar-color: #323840 #000;
	scrollbar-width: thin;
}





.page_title{
  background: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  display: none;
  width: 100%;
  z-index: 10;
  top: 0;

  transition: top 0.25s ease-in;
}
.page_title span{
  font-size: 18px;
  width: 90%;
}
.page_title_hide{
  top: -50px;
}
.bottom_navigation{
	display: none;
}

.adt{
	line-height: 18px;
	text-align: left;
    width: 85%;
    font-size: 12px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    background: #fff;
    margin-top: 10px;
    border-radius: 4px;
}

.container{
	box-sizing: border-box;
	width: 100%;
    height: 100%;
}

#close_adt_more_info{
	display: none;
}

.adt_image_block{
	overflow: hidden; 
	float: left;
	margin-top: 4px;
	height: 140px;
	width: 180px;
}
.adt_image{
	margin-top: 4px;
	width: 180px;
    height: 140px;
    float: left;
	object-fit: cover;
	border-radius: 1px;
	transition: transform 0.5s;
}
.adt_a:hover .zoom{
	transform: scale(1.1);
}



.heart img{
	width: 21px;
	height: 20px;
}



.adt_name{
	box-sizing: border-box;
	display: inline-block;
	font-size: 19px;
	margin-top: 10px;
	padding-left: 5px;
	font-family: Verdana;
	letter-spacing: -0.6px;
	width: 800px;
}
.adt_a{
	color: #000;
	text-decoration: none;
}
.adt_a .adt_n:hover{
	opacity: 0.8;
}
.active{
	opacity: 0;
}
.tick {
    display:inline-block;
    width: 22px;
    height:16px;
    -ms-transform: rotate(45deg); /* IE9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
	position: relative;
	margin-left: 4px;
	bottom: 2px;
}
.tick_right {
	position: absolute;
	width: 3px;
	height: 11px;
	background-color: #baab2d;
	left: 11px;
	top: 6px;
}
.tick_left {
	position: absolute;
	width: 5px;
	height: 3px;
	background-color: #baab2d;
	left: 7px;
	top: 14px;
}
.tick_text{
	display: inline-block;
	font-size: 12px;
	padding: 5px;
	background: #c1baba;
	color: #fff;
	border-radius: 7px;
	position: absolute;
	margin-top: -5px;
	z-index: 1;

	opacity: 0;
	visibility: hidden;
	
	transition: opacity 0.3s ease-in;
}
.greeting>.tick_text{
	margin-top: 5px;
}
.greeting>.tick:hover~.tick_text{
	opacity: 1;
	visibility: visible;
}

.adt_salary{
	position: relative;
	font-size: 17px;
	font-family: Verdana;
	letter-spacing: -0.6px;
	float: right;
	margin-top: 10px;
}
 
.heart img{
	float: right;
	width: 21px;
	height: 20px;
	cursor:pointer;
	position: relative;
	bottom: 30px;

	opacity: 1;
}

.heart:hover img{
	content: url(/static/img/full_heart.svg);
	opacity: 0.4;
	transition: opacity 1s;
}







.adt_age{
	margin-top: 25px;
	display: inline-block;
}
.adt_created{
	display: inline-block;
	width:400px;
	margin-top:20px;
	font-size: 10px;
}
.adt_city{
	padding-left: 5px;
	font-family: Verdana;
	letter-spacing: -0.6px;
	color: #545454; 
	font-size: 13px;
	font-weight: normal;
}	

.adt_age, .adt_rubric, .adt_created, .adt_city{
	padding-left: 5px;
	font-family: Verdana;
	letter-spacing: -0.6px;
	color: #545454; 
}

.dark .adt_age,.dark .adt_rubric,.dark .adt_created,.dark .adt_city{
	color: #939393; 
}

.adt_age, .adt_rubric, .adt_description, .adt_city{
	font-size: 13px;
	font-weight: normal;
}


.adt_more_info{
	display: block;	
	margin-top: 5px;
	border-top: 1px solid #cdcccc;
	font-size: 12px;
	height: 20px;
	overflow: hidden;
    font-family: Verdana;
}
.adt_content_header{
  font-weight: bold;
  display: none;
}
.adt_arrow_down_div{
	display: block;
	cursor: pointer;
}
.adt_arrow_down{
	border: solid rgba(0,0,0,0.5);
	margin: 0 0 1px 7px;
	border-radius: 1px;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 4px;
	transform: rotate(45deg);
}
.dark .adt_arrow_down{
	border: solid #fff;
	border-width: 0 3px 3px 0;
}
.adt_content{
	font-size: 13px;
	width: 65%;
    letter-spacing: -0.2px;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
}

.adt_author_info{
	width: 30%;
	box-sizing: border-box;
	display: inline-block;
	padding: 10px;
}
.name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin-left: 20%;
}
.name a{
  text-decoration: none;
  color: #2fa1ff;
}
.phone_n_span, .email_span{
	margin: 5px 0 5px 10%;
  	display: block;
}
/* ################################## FAVOURITES ######################################################## */
.fav_title{
	font-family: Verdana;
	position: relative;
	display: inline-block;
	top: 10px;
	margin-left: 120px;
	font-size: 25px;
}
.dark .fav_title{
	color: #fff;
}


hr{
	margin: 15px;
}

.empty_fav_list{
	font-weight: normal; 
	margin-left: 120px;
	top: 22%; 
	position: absolute; 
	font-family: Verdana;
	letter-spacing: -0.6px;
}
.dark .empty_fav_list{
	color: rgba(242, 244, 241, 0.7);
}
.empty_fav_list a{
	color: #5d64ec;
	text-decoration: none;
	margin-left: 10px;
}
.dark .empty_fav_list a{
	color: #9094ef;
}
.arrow-forward{
	border: solid #5d64ec;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	margin-bottom: 2px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
/* ################################## ACCOUNT DROPDOWN ######################################################## */
.dropdown-content {
	display: none;
	border-radius: 4px;
	position: absolute;
	background-color: #f1f1f1;
	width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: 55px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 13px;
}

.dropdown-content a:hover {background-color: #ddd;}
.account:hover .dropdown-content {display: block;}


/*/////////////////////////////////////// ДОПОЛНИТЕЛЬНОЕ ПОЛЕ ПОИСКА ВЫДВИГАЮЩЕЕСЯ МЕНЮ //////////////////////////////////////**/
.logo_teenwork {
    position: relative;
    margin: auto;
    text-align: center;
    top: 0%;
    margin: 150px 0 30px 0;
	height: 70px;
}
.logo_teenwork img{
	height: 80px;
}

.main .search_field{
	position: relative;
  	text-align: center;
	margin-bottom: 80px;
	margin-top: 20px;
}

.more_filters{
  border-radius: 10px 0 0 10px;
  display: inline-block;
  padding: 22px;
  background: #444c56;
  position: relative;
  left: 6px;
  height: 100%;
  cursor: pointer;
}
.search_arrow_down{
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#id_title_content{
  padding: 20px 15px 20px 15px;
  width: 700px;
  border: #fff;
  text-align: initial;
  font-size: 18px;
}
#id_title_content:focus{
  outline: none;
}
.search_btn{
  padding: 20px;
  width: 110px;
  border: none;
  font-size: 17px;
  height: 63px;
  left: -6px;
  position: relative;
  background: #444c56;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}



.more_filters_field{
  width: 500px;
  position: absolute;
  left: 318px;
  top: 68px;
  text-align: initial;
  padding: 20px;
  border-radius: 15px;
  height: 0px;
  background: #fff;
  z-index: 10;

  transition: 0.7s height ease-in-out;
  overflow: hidden;
}


.sal_field, .age_field, .region, .city, .type_of_emp{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.1);
}
.age_field{
  float: right;
}
.region_field{
  display: block;
  margin: 20px 0 20px 0;
}
.city{
  float: right;
}
#id_price_0, #id_price_1, #id_age, #id_region, #id_city,#id_rubric{
  padding: 5px;
  border-radius: 5px;
  width: 55px;
  border: 1px solid rgba(172, 172, 172, 0.5);
  text-align: center;
  font-size: 14px;
  margin: 0 5px 0 5px;
}
#id_rubric, #id_city, #id_region{
	width: 140px;
}
#id_price_0:focus, #id_price_1:focus, #id_age:focus, #id_region:focus, #id_city:focus, #id_rubric:focus{
  outline: none;
}
 
/*--------------------------------------------------- ARROW DOWN LINE  ----------------------------------------------------------------*/


.lines_container{
	padding: 130px 100px 13px 100px;
}
.lines{
	width: 100%;
	height: 45px;
	position: relative;
}
.lines:after, .lines:before{
	content: '';
	position: absolute;
	margin: auto;
	height: 1px;
	background: #000;
	width: 45%;
	top: 45%;
}
.dark .lines:after, .dark .lines:before{
	background: rgba(255, 255, 255, 0.8);
}

.lines:after{
	left: 0;
}
.lines:before{
	right: 0;
}

.diamond{
	height: 40px;
	width: 40px;
	border: 2px solid #000;
	margin: auto;
	transform: rotate(45deg);
	border-width: 0 2px 2px 0;
}
.dark .diamond{
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-width: 0 2px 2px 0;	
}



@media(max-width:768px){
	.circle, .diamond{
		width: 20px;
		height: 20px;
	}
	.lines{
		height: 25px;
	}
}

/*------------------------------------ ПОЛИТИКА КОНФИДЕНЦ. И ПРАВИЛА САЙТА ------------------------------------------------------------*/
.privacy{
	width: 70%;
	margin: auto;
	letter-spacing: -0.1px;
	line-height: 1.4;
}
.privacy a{
	color: #2b84cd;
	text-decoration: none;
}
.privacy_block{
	background: #fff;
    border-radius: 7px;
    padding: 15px 25px 25px 25px;
    box-sizing: border-box;
	margin-bottom: 10px;
}
.policy_title{
	display: block;
	font-size: 22px;
	margin: 10px auto;
	text-align: center;
}
.policy_refreshed{
	display: block;
	margin: 10px 0 20px 0;
	font-size: 13px;
	color: #979797;
}
.privacy_block li{
	display: list-item;
	list-style-position: inside;
	list-style-type: disc;
}

.rules_understand{
	font-size: 30px;
}

.law_article{
	color: #2785d1;
}

/*-------------------------------------------------------Account-------------------------------------------------------*/

#adt_header{
    margin: 40px;
	font-size: 20px;
	color: #000;
}
/*-------------------------------------------------------FOOTER-------------------------------------------------------*/
footer{
	padding: 0 100px 50px 100px;
    background: #d5d5d5;
}
.dark~footer{
	background: #2e2e2e;
    color: #fff;
}
.navigation, .other, .contacts, .about{
	margin-top: 50px;
	display: inline-table;
	margin-right: 50px;
}
.navigation ul, .other ul, .contacts ul{
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-left: 7px;
}
.navigation li, .other li, .contacts li{
	display: block;
}
.navigation a, .other a, .contacts li, .footer_about{
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	color: #585858;
}
.dark~ footer .navigation a,.dark ~ footer .other a,.dark ~ footer .contacts li,.dark ~ footer .footer_about{
	color: #ccc;
}
.navigation span, .other span, .contacts span{
	font-size: 18px;
	display: block;
	margin-bottom: 5px;
}
.footer_about_span{
	font-size: 18px;
	display: block;
	margin-bottom: 5px;
}
.footer_about{
	display: block;
	font-size: 12px;
	line-height: 16px;
	color: #585858;
	padding-left: 5px;
	width: 400px;
}

.empty_index{
  font-size: 17px;
  text-align: center;
  display: block;
  margin-top: 40px;
}
.dark .empty_index{
  color:#fff;
}
.empty_index a{
  text-decoration: none;
  color: #5d64ec;
}

.load_main_btn{
	display: block;
    margin: auto;
    margin-top: 30px;
    padding: 10px 20px;
	border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
	font-size: 15px;
}
/* Главная страница - изображение мужчины и подростка */
.main_img{
    display: flex;
    margin: auto;
    width: 60%;
    margin-top: 50px;
    font-size: 16px;
}
.main_man, .main_teen{
    width: 50%;
}
.main_man img, .main_teen img{
    width: 100%;
}
.dark .main_img{
    color: #fff;
}
.oval{
    width: 160px;
    height: 110px;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 5px;

    position: absolute;
    margin-top: 1%;
    margin-left: 13%;
}
.oval_teen{  
    margin-top: 5%;
    margin-left: 4%;
}

.mans_speech, .teen_speech{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.teen_speech{
    margin-top: 0;
}
